* {
  /*includes margins and padding in box size*/
  box-sizing: border-box;
}

.card{
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
}

.intro{
  grid-column: 1/3;
  grid-row-start: 1;
}

.dev{
  grid-column-start: 1;
}
.des{
  grid-column-start: 2;
}
.etc{
  grid-column-start: 3;
}
